<div class="links clearfix">
    <ul class="links-menu">
        <li>
            <a href="{% url 'products:category' 0 %}" class="{% if request.resolver_match.kwargs.pk == 0 %}
                active{% endif %}">
                Все
            </a>
        </li>
        {% for link in links_menu %}
        <li>
            <a href="{% url 'products:category' link.pk %}"
               class="{% if request.resolver_match.kwargs.pk|add:'0' == link.pk %}
                        active{% endif %}">{{ link.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<script type="text/javascript">
// старый вариант с предподготовкой в (vews.py):

<!-- links_menu = [{'href': '/products/category/0/', 'id': 0, 'name': 'все'}]  # дополним пунктом меню для всех категорий-->
<!-- for el in ProductCategory.objects.all():                        # Считаем все категории из справочника-->
<!--     links_menu.append({'href': '/products/category/'+str(el.id)+'/', 'id': el.id, 'name': el.name})-->

<!--<div class="links clearfix">-->
<!--    <ul class="links-menu">-->
<!--        {% for link in links_menu %}-->
<!--            <li><a href="{{ link.href }}" id="{{ link.id }}" class="{% if category_id == link.id %}active{% endif %}">{{ link.name }}</a></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->


</script>