{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ title|title }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'geekshop/style.css' %}">
	<link rel="stylesheet" href="{% static '/geekshop/fonts/font-awesome/css/font-awesome.css' %}">
</head>
<body>
	<div class="container">

        {% block content %}
        {% endblock %}

		<div class="clr"></div>
	</div>
    {% include 'geekshop/includes/inc_footer.html' %}
<!--	Подключим скрипта с функционалом галереи-->
  	<script src="{% static 'geekshop/js/gallery.js' %}"></script>
	<script type="text/javascript">
		var my_gallery = gallery;
<!--		Инициируем экземпляр ГАЛЕРЕЯ и повесим обработчики CLICK на все картинки '.product_table', если есть-->
		my_gallery.init({ previewSelector: '.product_table', imageBasePathSrc: '{% static "/geekshop/img/" %}' });


<!--		function openImage(full_image_url='') {-->
<!--			if (full_image_url != '')-->
<!--				my_gallery.openImage(full_image_url);-->
<!--		}-->
	</script>
</body>
</html>