{% extends 'geekshop/base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="hero-white">
		{% include 'geekshop/includes/inc_main_menu.html' %}
	</div>
</div>

<div class="details">
    {% include 'mainapp/includes/inc_category_menu.html' %}

    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="/static/geekshop/img/slider1.jpg">
            </div>
            <div class="slider-control">
                <div class="block">
                    <a href="#"><img src="/static/geekshop/img/controll.jpg" alt="">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="/static/geekshop/img/controll1.jpg" alt="">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="/static/geekshop/img/controll2.jpg" alt="">
                        <div class="text"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">Отличный стул</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price"> 2585.9 <span>руб</span></p>
            <a href="#" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                <p>Расположитесь комфортно.</p>
                <p>Отличное качество материалов
                позволит вам это.</p>
                <p>Различные цвета</p>
                <p>высочайший уровень
                эргономики и прочность.</p>
            </div>
        </div>
    </div>

    <div class="products_list" style="margin-top: 50px;">
        {% if category %}
            <div class="title clearfix">
                <h2>
                    Категория: "{{ category.name|title }}"
                </h2>
            </div>
            <div class="related ">
                <table class="product_table" id="product_table_id">
                    <tbody>
                        <tr>
                            <th class="table_head">Наименование</th>
                            <th class="table_head">Категория</th>
                            <th class="table_head">краткое описание</th>
                            <th class="table_head">Цена</th>
                            <th class="table_head" style='padding:0; white-space:normal;'><img src="/static/geekshop/img/press_img.png" height=50px alt="Для просмотра нажмите"></th>
                            <th class="table_head">в корзину</th>
                        </tr>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.short_desc }}</td>
                                <td>{{ product.price }}</td>
                                <td>
                                    <img src="/media/{{ product.image }}" height=50 data-full_image_url="/media/{{ product.image }}" alt="img">
<!--                                    <img src="/media/{{ product.image }}" height=50 data-full_image_url="/media/{{ product.image }}" onclick="openImage('/media/{{ product.image }}')" alt="img">-->
                                </td>
                                <td><a href="{% url 'basket:add' product.pk %}"><button class="button_add_to_basket" data-id="${item.id}">в корзину</button></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img src="/static/geekshop/img/arrow.png" alt=""></a>
            </div>
            <div class="related-products clearfix">
                {% for product in related_products %}
                    <div class="block">
                        <a href="#"><img src="/media/{{ product.image }}" style="width: -webkit-fill-available" alt="">
                            <div class="text">
                                <img src="/static/geekshop/img/icon-hover.png" alt="img">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.short_desc }} </p>
                                <p>{{ product.category.name }} </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}