{% extends 'geekshop/base.html' %}
{% load static %}
{% load my_tags %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'mainapp/js/main_scripts.js' %}"></script>
{% endblock %}


{% block content %}

{% include 'geekshop/includes/inc_main_menu.html' %}

<div class="details">
    {% include 'mainapp/includes/inc_categories_menu.html' %}

    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="{{ hot_product.image|media_folder_products }}" style="width: 100%">
            </div>
            <div class="slider-control">
                <div class="block">
                    <a href="#"><img src="{{ hot_product.image|media_folder_products }}" alt="" style="width: 100%">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="{{ hot_product.image|media_folder_products }}" alt="" style="width: 100%">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="{{ hot_product.image|media_folder_products }}" alt="" style="width: 100%">
                        <div class="text"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{ hot_product.name }}</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price">{{ hot_product.price }}<span>руб</span></p>
            <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                <p>{{ hot_product.description }}</p>
            </div>
        </div>
    </div>

    <div class="details">
        {% include 'mainapp/includes/inc_products_list_content.html' %}
    </div>

</div>
{% endblock %}
